.text-center {
    margin-top: 75px;
    margin-bottom: 20px;
    color: black;
}

.card {
    width: 60%;
}

.card-title {
    font-size: large;
    color: black;
}

.likes {
    margin-bottom: 10px;
    color: black;
}

.card-text {
    color: black;
}